@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
header{
position: absolute;
width: 1440px;
height: 70px;
left: 0px;
top: 0px;

background: #FFFFFF;
box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);    
}
body
{
position: relative;
width: 1440px;
height: 1937px;
}
.v1h1{position: absolute;
width: 40px;
height: 40px;
left: 140px;
top: 15px;

/* Primary Gradient */

}
.v2h2{position: absolute;
width: 9.12px;
height: 5.91px;
left: 161.47px;
top: 30.29px;

/* Secondary Gradient */
}
.v3h3{
position: absolute;
width: 11.76px;
height: 11.76px;
left: 149.41px;
top: 30.29px;

/* Primary Gradient */
}
.TOXINh{
position: absolute;
width: 53.19px;
height: 12.95px;
left: 192.5px;
top: 28.33px;

/* Dark 100% */

background: #1F2041;
    }
/* Primary Gradient */

.menu a{
text-decoration:none;    
position: absolute; 
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;

/* Dark 75% */

color: rgba(31, 32, 65, 0.75);
}
.about_us{  
width: 42px;
height: 18px;
left: 531px;
top: 26px;
}
/* Services */
.Services{
width: 50px;
height: 18px;
left: 593px;
top: 26px;
}
/* Careers */
.Careers{
width: 72px;
height: 18px;
left: 687px;
top: 26px;
}
/* News */
.News{
width: 62px;
height: 18px;
left: 779px;
top: 26px;
    }
/* Documentation */
.Documentation{
width: 92px;
height: 18px;
left: 861px;
top: 26px;
}

.loginp{

position: absolute;
width: 87px;
height: 34px;
left: 997px;
top: 18px;

border-radius: 22px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 15px;
/* identical to box height */

text-transform: uppercase;

/* Primary Color */

color: #BC9CFF;}


.registerp{
 

position: absolute;
width: 196px;
height: 34px;
left: 1104px;
top: 18px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 15px;
/* identical to box height */

text-transform: uppercase;

color: #FFFFFF;
    /* Primary Gradient */

background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
border-radius: 22px;
   
}
.REGISTER
{/* REGISTER */


position: absolute;
width: 62px;
height: 15px;
left: 1218px;
top: 177px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 15px;
/* identical to box height */

text-transform: uppercase;

color: #FFFFFF;}
/* TOXIN */
.TOXIN{
position: absolute;
width: 53.19px;
height: 12.95px;
left: 192.5px;
top: 178.33px;

/* Dark 100% */
background: #1F2041;
}
.grnav{position: absolute;
width: 527px;
height: 21px;
left: 543px;
top: 176px;}
